<div class="center-align result" ng-show="$ctrl.showAnswers">
  Ваш результат: {{$ctrl.count}}/12
</div>

<form novalidate name="testForm">
  <div class="questions-tabs center-align">
    <button class="navigation btn-floating btn-large waves-effect waves-circle light-blue"
            ng-class="{ 'disabled': $ctrl.currentTab == 0 }"
            ng-click="$ctrl.before($ctrl.currentTab - 1)">
      <i class="material-icons">navigate_before</i>
    </button>

    <div class="tabs-wrapper">
      <ul class="tabs">
        <li class="tab" ng-repeat="_ in $ctrl.test">
          <a ng-click="$ctrl.currentTab = $index"
             ng-class="{
              'active': $ctrl.currentTab == $index,
              'answered': $ctrl.results[$index],
              'red-text': $ctrl.showAnswers && $ctrl.checkEquality($ctrl.answers[$index], $ctrl.results[$index]) == 'red',
              'green-text': $ctrl.showAnswers && $ctrl.checkEquality($ctrl.answers[$index], $ctrl.results[$index]) == 'green',
              'yellow-text text-darken-2': $ctrl.showAnswers && $ctrl.checkEquality($ctrl.answers[$index], $ctrl.results[$index]) == 'yellow'
             }"
             id="tab{{$index}}">
            {{ $index + 1 }}
          </a>
        </li>
      </ul>
    </div>

    <button class="navigation btn-floating btn-large waves-effect waves-circle light-blue"
            ng-class="{ 'disabled': $ctrl.currentTab == 11 }"
            ng-click="$ctrl.next($ctrl.currentTab + 1)">
      <i class="material-icons">navigate_next</i>
    </button>
  </div>

  <div ng-repeat="question in $ctrl.test"
       ng-show="$ctrl.currentTab == $index">
    <h1 class="question-title" ng-bind-html="question.question"></h1>

    <div class="row">
      <img ng-show="question.img"
           ng-src="{{ question.img }}"
           class="col materialboxed test-image" />

      <table ng-show="question.table"
             class="question-table col striped bordered">
        <thead>
        <tr>
          <th ng-repeat="title in question.table_titles"
              class="center-align">
            {{ title.title }}
          </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="row in question.table">
          <td ng-repeat="column in row">
            <span ng-show="column.column">{{ $ctrl.getNumber($parent.$index, $index) }}</span>
            {{ column.column }}
          </td>
        </tr>
        </tbody>
      </table>

      <table ng-show="question.table"
             class="answers-table col centered bordered">
        <thead>
        <tr>
          <th></th>
          <th ng-repeat="row in question.table">
            {{ $ctrl.getNumber($index, 1, false) }}
          </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="answer in question.answers">
          <td>{{ answer.text }}</td>

          <td ng-repeat="row in question.table">
            <input type="radio"
                   name="complex_{{ $parent.$index }}"
                   class="with-gap inputs-matrix"
                   id="complex_{{ $parent.$index }}_{{ $index }}"
                   value="{{ $index + 1 }}"
                   ng-model="$ctrl.results[$parent.$parent.$index][$parent.$index]"
                   ng-disabled="$ctrl.showAnswers"
                   ng-class="{
                    'green': $ctrl.showAnswers && $ctrl.answers[$parent.$parent.$index][$parent.$index] == $index + 1,
                    'red': $ctrl.showAnswers && $ctrl.answers[$parent.$parent.$index][$parent.$index] != $index + 1
                   }"
                   required>
            <label for="complex_{{ $parent.$index }}_{{ $index }}">
            </label>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="col" ng-hide="question.table">
        <div ng-repeat="answer in question.answers">
          <input type="radio"
                 name="question_{{ $parent.$index }}"
                 value="{{ $index + 1 }}"
                 class="with-gap"
                 id="test_{{ $parent.$index }}_{{ $index }}"
                 ng-model="$ctrl.results[$parent.$index]"
                 ng-disabled="$ctrl.showAnswers"
                 ng-class="{
                  'green': $ctrl.showAnswers && $ctrl.answers[$parent.$index] == $index + 1,
                  'red': $ctrl.showAnswers && $ctrl.answers[$parent.$index] != $index + 1
                 }"
                 required>
          <label for="test_{{ $parent.$index }}_{{ $index }}">
            {{ answer.text }}
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row center-align">
    <button class="btn-large waves-effect light-blue check-button"
            ng-click="$ctrl.check()"
            ng-hide="testForm.$invalid || $ctrl.hideCheckButton">
      Перевірити
    </button>
  </div>
</form>