<form>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab" ng-repeat="_ in $ctrl.test">
          <a ng-click="$ctrl.currentTab = $index"
             ng-class="{ 'active': $ctrl.currentTab == $index }"
             id="tab{{$index}}">
            {{ $index + 1 }}
          </a>
        </li>
      </ul>
    </div>

    <div ng-repeat="question in $ctrl.test"
         ng-show="$ctrl.currentTab == $index"
         class="col s12">
      <h2 ng-bind-html="question.question"></h2>
      <div ng-repeat="answer in question.answers">
        <input type="radio" name="{{ $parent.$index }}" value="{{ $index }}" class="browser-default"> {{answer.text}}
      </div>
    </div>

    <button class="btn-floating btn-large waves-effect waves-circle waves-green green darken-2"
            ng-class="{ 'disabled': $ctrl.currentTab == 0 }"
            ng-click="$ctrl.before($ctrl.currentTab - 1)">
      <i class="material-icons">navigate_before</i>
    </button>

    <button class="btn-floating btn-large waves-effect waves-circle waves-green green darken-2"
            ng-class="{ 'disabled': $ctrl.currentTab == 11 }"
            ng-click="$ctrl.next($ctrl.currentTab + 1)">
      <i class="material-icons">navigate_next</i>
    </button>
  </div>
</form>
