<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!/" class="brand-logo right">
        <span class="left-align">М &amp; Л</span>
        <i class="material-icons">&#xE5CA;</i>
      </a>

      <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>

      <ul class="left">
        <li><a href="#!/">Головна</a></li>
        <li><a href="#!/main-menu">Розпочати тест</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li>
          <div class="userView">
            <div class="background">
              <img src="img/menu_background.jpg">
            </div>
          </div>
        </li>

        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold">
              <a class="collapsible-header waves-effect waves-teal" ng-href="#!/ukrainian-language">Українська мова</a>

              <div class="collapsible-body">
                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <a class="collapsible-header waves-effect waves-teal"
                       ng-href="#!/ukrainian-language/morfology">
                      Морфологія
                    </a>

                    <div class="collapsible-body">
                      <ul>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_morfology_1">Тест 1</a></li>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_morfology_2">Тест 2</a></li>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_morfology_3">Тест 3</a></li>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_morfology_4">Тест 4</a></li>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_morfology_5">Тест 5</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a class="collapsible-header waves-effect waves-teal"
                       ng-href="#!/ukrainian-language/syntax">
                      Синтаксис
                    </a>

                    <div class="collapsible-body">
                      <ul>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_syntax_1">Тест 1</a></li>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_syntax_2">Тест 2</a></li>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_syntax_3">Тест 3</a></li>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_syntax_4">Тест 4</a></li>
                        <li><a class="waves-effect waves-teal" ng-href="#!/test/language_syntax_5">Тест 5</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

            <li class="bold">
              <a class="collapsible-header waves-effect waves-teal" ng-href="#!/ukrainian-literature">Українська
                література</a>

              <div class="collapsible-body">
                <ul>
                  <li><a class="waves-effect waves-teal" ng-href="#!/test/literature_1">Тест 1</a></li>
                  <li><a class="waves-effect waves-teal" ng-href="#!/test/literature_2">Тест 2</a></li>
                  <li><a class="waves-effect waves-teal" ng-href="#!/test/literature_3">Тест 3</a></li>
                  <li><a class="waves-effect waves-teal" ng-href="#!/test/literature_4">Тест 4</a></li>
                  <li><a class="waves-effect waves-teal" ng-href="#!/test/literature_5">Тест 5</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>