<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!/" class="brand-logo right">
        <span class="left-align">М &amp; Л</span>
        <i class="material-icons">&#xE5CA;</i>
      </a>

      <ul class="left-align">
        <li><a class="waves-effect" href="#!/">Головна</a></li>
        <li><a data-activates="mobile-demo" class="waves-effect start-test">Розпочати тест</a></li>
        <li><a class="modal-trigger waves-effect" href="#modal1">Довідка</a></li>
      </ul>
    </div>
  </nav>
</div>

<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content flow-text">
    <h4>Довідка</h4>
    <p>Щоб розпочати тестування, натисніть "Розпочати тест" та оберіть необхідну категорію.</p>
    <p>Переходити від одного питання до іншого можна за допомогою кнопок навігації, що розташовані над завданням.</p>
    <p>Натисніть на картинку, щоб збільшити її.</p>
    <p>Після того, як дасте відповідь на усі запитання в тесті, натисніть на кнопку "Перевірити". Зауважте, що кнопка буде недоступною, доки не будуть дані відповіді на усі запитання.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Закрити</a>
  </div>
</div>

<ul class="side-nav" id="mobile-demo">
  <li>
    <div class="userView">
      <div class="background">
        <img src="img/menu_background.jpg">
      </div>
    </div>
  </li>

  <li>
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-green">Українська мова</a>

        <div class="collapsible-body no-padding">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <a class="collapsible-header waves-effect waves-green">
                Морфологія
              </a>

              <div class="collapsible-body no-padding">
                <ul>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_morfology_1">Тест 1</a></li>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_morfology_2">Тест 2</a></li>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_morfology_3">Тест 3</a></li>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_morfology_4">Тест 4</a></li>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_morfology_5">Тест 5</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a class="collapsible-header waves-effect waves-green">
                Синтаксис
              </a>

              <div class="collapsible-body no-padding">
                <ul>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_syntax_1">Тест 1</a></li>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_syntax_2">Тест 2</a></li>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_syntax_3">Тест 3</a></li>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_syntax_4">Тест 4</a></li>
                  <li><a side-nav-close=".start-test" class="waves-effect test-link waves-green" ng-href="#!/test/language_syntax_5">Тест 5</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>

      <li class="bold">
        <a class="collapsible-header waves-effect waves-green">Українська література</a>

        <div class="collapsible-body no-padding">
          <ul>
            <li><a side-nav-close=".start-test" class="waves-effect waves-green" ng-href="#!/test/literature_1">Тест 1</a></li>
            <li><a side-nav-close=".start-test" class="waves-effect waves-green" ng-href="#!/test/literature_2">Тест 2</a></li>
            <li><a side-nav-close=".start-test" class="waves-effect waves-green" ng-href="#!/test/literature_3">Тест 3</a></li>
            <li><a side-nav-close=".start-test" class="waves-effect waves-green" ng-href="#!/test/literature_4">Тест 4</a></li>
            <li><a side-nav-close=".start-test" class="waves-effect waves-green" ng-href="#!/test/literature_5">Тест 5</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>