body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper a.brand-logo {
    padding-left: 8px;
}

nav .brand-logo i.material-icons {
    font-size: 2.5rem;
    margin-right: 8px;
}

.side-nav li:first-of-type {
    height: 25%;
}

.side-nav .background, .side-nav .userView {
    height: 100%;
}

.userView a i {
    display: inline;
    float: left;
}

.tab {
    cursor: pointer;
}

.navbar-fixed nav, footer.page-footer {
    background-color: #03A9F4;
}

footer.page-footer {
    padding: 0;
}

.page-footer .container {
    width: 100%;
    margin: 0;
    max-width: 100%;
}

.footer-text {
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.questions-tabs {
    margin-top: 20px;
}

.navigation, .tabs-wrapper, .tabs {
    display: inline;
    vertical-align: baseline;
}

div .tabs {
    margin: 0 15px;
}

.tabs .tab a {
    color: #000000;
}

.tabs .indicator {
    background-color: #E040FB;
}

.tabs .tab a.active, .tabs .tab a:hover, .tabs .tab .answered {
    color: #E040FB;
}

.collapsible-body .test-link {
    padding-left: 46px !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
    border-color: #E040FB !important;
}

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
    background-color: #E040FB !important;
}

[type="radio"]:disabled + label, label {
    color: #000000 !important;
}

.green:disabled + label {
    color: #388e3c !important;
}

.red:checked + label {
    color: #f44336 !important;
}

.green + label:after,
.green.with-gap:checked + label:before,
.green.with-gap:checked + label:after,
.green.inputs-matrix:disabled + label:after,
.green.inputs-matrix:disabled.with-gap + label:before,
.green.inputs-matrix:disabled.with-gap + label:after {
    border-color: #388e3c !important;
}

.green:checked + label:after,
.green.with-gap:checked + label:after,
[type="radio"].green.with-gap.inputs-matrix:disabled + label:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    background-color: #388e3c !important;
}

.red + label:after,
.red.with-gap:checked + label:before,
.red.with-gap:checked + label:after {
    border-color: #f44336 !important;
}

.red:checked + label:after,
.red.with-gap:checked + label:after {
    background-color: #f44336 !important;
}

.question-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.result {
    font-size: 2rem;
    margin-top: 10px;
    padding: 5px;
}

.test-image {
    width: 250px;
    margin-right: 30px;
}

.question-table td,
.question-table th,
.answers-table th {
    padding: 5px;
}

.question-table,
.question-table td,
.question-table th,
.answers-table,
.answers-table td,
.answers-table th {
    border: 1px solid #d0d0d0;
}

.row .question-table.col {
    min-width: 400px;
    width: 400px;
    margin-right: 50px;
}

.answers-table {
    min-width: 150px;
    width: 150px;
}

.answers-table td {
    padding: 1px 5px;
}

.answers-table td:first-child {
    padding: 0 10px;
}

.answers-table input + label {
    padding: 0 12px !important;
}

.waves-effect.waves-blue .waves-ripple,
.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover,
.side-nav li.active,
.side-nav a:hover {
    background-color: #B3E5FC !important;
}

.modal-close {
    color: #03A9F4;
}