body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper a.brand-logo {
    padding-right: 8px;
}

.brand-logo i.material-icons {
    font-size: 2.5rem;
}

.side-nav li:first-of-type {
    height: 25%;
}

.side-nav .background, .side-nav .userView {
    height: 100%;
}

.userView a i {
    display: inline;
    float: left;
}

.tab {
    cursor: pointer;
}

.navbar-fixed nav, footer.page-footer {
    background-color: #0288D1;
}

footer.page-footer {
    padding: 0;
}

.page-footer .container {
    width: 100%;
    margin: 0;
    max-width: 100%;
}

.footer-text {
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.questions-tabs {
    margin-top: 20px;
}

.navigation, .tabs-wrapper, .tabs {
    display: inline;
    vertical-align: middle;
}

div .tabs {
    margin: 0 15px;
}

.tabs .tab a, .tabs .tab a.active, .tabs .tab a:hover {
    color: #388e3c;
}

.tabs .indicator {
    background-color: #388e3c;
}

.collapsible-body .test-link {
    padding-left: 46px !important;
}

[type="radio"]:disabled + label, label {
    color: #000000 !important;
}

.correct:disabled + label, .correct {
    color: #388e3c !important;
}

.wrong:checked + label, .wrong  {
    color: #f44336 !important;
}

.result {
    font-size: 2rem;
    margin-top: 10px;
    padding: 5px;
}

.test-image {
    width: 250px;
}

.test-image, .question-table, .answers-table {
    margin-bottom: 15px;
    margin-top: -10px;
}

.question-table td,
.question-table th,
.answers-table th {
    padding: 5px;
}

.question-table,
.question-table td,
.question-table th,
.answers-table,
.answers-table td,
.answers-table th {
    border: 1px solid #d0d0d0;
}

.row .question-table.col {
    min-width: 400px;
    width: 400px;
    margin-right: 50px;
}

.answers-table {
    min-width: 150px;
    width: 150px;
}

.answers-table td {
    padding: 1px 5px;
}

.answers-table td:first-child {
    padding: 0 10px;
}

.answers-table input+label {
    padding: 0 12px !important;
}

.help-header {
    background-color: #03A9F4;
    color: #ffffff;
    padding: 15px;
    width: 100%;
    margin: 0;
}

.modal .modal-content {
    padding-top: 0;
    padding-bottom: 0;
}
